USE [cineNov6_Nuevo]
GO
/****** Object:  User [nachuchi]    Script Date: 15/11/22 23:53:56 ******/
CREATE USER [nachuchi] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[proximoTicket]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[proximoTicket]
(@param int)
returns int
as
begin
declare @prox1 int
set @prox1 = (select max(id_ticket)+1 from Tickets);
return @prox1
end;
GO
/****** Object:  Table [dbo].[Butacas]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butacas](
	[id_butaca] [int] IDENTITY(1,1) NOT NULL,
	[id_sala] [int] NULL,
 CONSTRAINT [pk_asiento] PRIMARY KEY CLUSTERED 
(
	[id_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[dni_cliente] [varchar](8) NULL,
	[email] [varchar](100) NULL,
	[calle] [varchar](50) NULL,
	[altura] [int] NULL,
	[telefono] [bigint] NULL,
	[nom_cliente] [varchar](100) NULL,
	[ape_cliente] [varchar](100) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Tickets]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Tickets](
	[id_detalle_ticket] [int] IDENTITY(1,1) NOT NULL,
	[descuento] [decimal](18, 0) NULL,
	[id_ticket] [int] NULL,
	[costo] [money] NULL,
	[id_butaca] [int] NULL,
	[id_funcion] [int] NULL,
 CONSTRAINT [pk_Detalle_Tickets] PRIMARY KEY CLUSTERED 
(
	[id_detalle_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funciones]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funciones](
	[id_funcion] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NULL,
	[fecha_hora] [datetime] NULL,
	[pre_unitario] [money] NULL,
	[id_sala] [int] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [pk_funciones] PRIMARY KEY CLUSTERED 
(
	[id_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[contras] [varchar](50) NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](500) NULL,
	[duracion] [int] NULL,
	[id_tipo] [int] NULL,
 CONSTRAINT [pk_peliculas] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_sala] [int] NULL,
 CONSTRAINT [pk_salas] PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id_ticket] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_pago] [int] NULL,
	[id_cliente] [int] NULL,
	[fecha_compra] [datetime] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [pk_Tickets] PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_peliculas]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_peliculas](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NULL,
 CONSTRAINT [pk_tipo_peliculas] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_pagos]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_pagos](
	[id_tipo_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_pago] [varchar](50) NULL,
 CONSTRAINT [pk_id_tipo_pago] PRIMARY KEY CLUSTERED 
(
	[id_tipo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Salas]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Salas](
	[id_tipo_sala] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NULL,
 CONSTRAINT [pk_tipo_sala] PRIMARY KEY CLUSTERED 
(
	[id_tipo_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Butacas] ON 

INSERT [dbo].[Butacas] ([id_butaca], [id_sala]) VALUES (1, 1)
INSERT [dbo].[Butacas] ([id_butaca], [id_sala]) VALUES (2, 1)
INSERT [dbo].[Butacas] ([id_butaca], [id_sala]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [dni_cliente], [email], [calle], [altura], [telefono], [nom_cliente], [ape_cliente], [activo]) VALUES (1, N'28960045', N'euismod@google.ca', N'8272 Ullamcorper Rd.', 2842, 3536309358, N'Timon', N'Mercado', 0)
INSERT [dbo].[Clientes] ([id_cliente], [dni_cliente], [email], [calle], [altura], [telefono], [nom_cliente], [ape_cliente], [activo]) VALUES (2, N'39553922', N'eu.elit@google.ca', N'8751 Et Ave', 590, 3525926877, N'Jessamine', N'Gibson', 1)
INSERT [dbo].[Clientes] ([id_cliente], [dni_cliente], [email], [calle], [altura], [telefono], [nom_cliente], [ape_cliente], [activo]) VALUES (3, N'42575832', N'ligula.donec@yahoo.ca', N'P.O. Box 576, 8737 Nisl. Rd.', 2957, 3518131960, N'Nash', N'Harvey', 1)
GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Tickets] ON 

INSERT [dbo].[Detalle_Tickets] ([id_detalle_ticket], [descuento], [id_ticket], [costo], [id_butaca], [id_funcion]) VALUES (1, CAST(0 AS Decimal(18, 0)), 13, 100.0000, 1, 1)
INSERT [dbo].[Detalle_Tickets] ([id_detalle_ticket], [descuento], [id_ticket], [costo], [id_butaca], [id_funcion]) VALUES (2, CAST(5 AS Decimal(18, 0)), 14, 435.0000, 10, 580)
INSERT [dbo].[Detalle_Tickets] ([id_detalle_ticket], [descuento], [id_ticket], [costo], [id_butaca], [id_funcion]) VALUES (3, CAST(5 AS Decimal(18, 0)), 15, 61.7500, 1, 600)
SET IDENTITY_INSERT [dbo].[Detalle_Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Funciones] ON 

INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [fecha_hora], [pre_unitario], [id_sala], [activo]) VALUES (1, 5, CAST(N'2016-08-18T00:00:00.000' AS DateTime), 1263.4000, 6, 1)
INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [fecha_hora], [pre_unitario], [id_sala], [activo]) VALUES (2, 10, CAST(N'2019-02-24T00:00:00.000' AS DateTime), 495.0800, 6, 1)
INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [fecha_hora], [pre_unitario], [id_sala], [activo]) VALUES (3, 2, CAST(N'2013-10-24T00:00:00.000' AS DateTime), 690.2900, 8, 1)
GO
SET IDENTITY_INSERT [dbo].[Funciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([id_usuario], [usuario], [contras]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([id_pelicula], [titulo], [duracion], [id_tipo]) VALUES (1, N'Cadena Perpetua', 145, 1)
INSERT [dbo].[Peliculas] ([id_pelicula], [titulo], [duracion], [id_tipo]) VALUES (2, N'El padrino', 175, 2)
INSERT [dbo].[Peliculas] ([id_pelicula], [titulo], [duracion], [id_tipo]) VALUES (3, N'El caballero oscuro', 152, 3)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala]) VALUES (1, 1)
INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala]) VALUES (2, 1)
INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([id_ticket], [id_tipo_pago], [id_cliente], [fecha_compra], [activo]) VALUES (1, 1, 1, CAST(N'2022-11-06T22:05:54.220' AS DateTime), 1)
INSERT [dbo].[Tickets] ([id_ticket], [id_tipo_pago], [id_cliente], [fecha_compra], [activo]) VALUES (2, 3, 2, CAST(N'2022-11-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Tickets] ([id_ticket], [id_tipo_pago], [id_cliente], [fecha_compra], [activo]) VALUES (3, 3, 12, CAST(N'2022-11-06T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_peliculas] ON 

INSERT [dbo].[Tipo_peliculas] ([id_tipo], [genero]) VALUES (1, N'Acción')
INSERT [dbo].[Tipo_peliculas] ([id_tipo], [genero]) VALUES (2, N'Aventuras')
INSERT [dbo].[Tipo_peliculas] ([id_tipo], [genero]) VALUES (3, N'Ciencia Ficción')
SET IDENTITY_INSERT [dbo].[Tipo_peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos_pagos] ON 

INSERT [dbo].[Tipos_pagos] ([id_tipo_pago], [nombre_tipo_pago]) VALUES (1, N'CRÉDITO')
INSERT [dbo].[Tipos_pagos] ([id_tipo_pago], [nombre_tipo_pago]) VALUES (2, N'DÉBITO')
INSERT [dbo].[Tipos_pagos] ([id_tipo_pago], [nombre_tipo_pago]) VALUES (3, N'EFECTIVO')
SET IDENTITY_INSERT [dbo].[Tipos_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos_Salas] ON 

INSERT [dbo].[Tipos_Salas] ([id_tipo_sala], [tipo]) VALUES (1, N'2D')
INSERT [dbo].[Tipos_Salas] ([id_tipo_sala], [tipo]) VALUES (2, N'3D')
INSERT [dbo].[Tipos_Salas] ([id_tipo_sala], [tipo]) VALUES (3, N'Premium Class')
SET IDENTITY_INSERT [dbo].[Tipos_Salas] OFF
GO
ALTER TABLE [dbo].[Butacas]  WITH CHECK ADD  CONSTRAINT [fk_asiento_sala] FOREIGN KEY([id_sala])
REFERENCES [dbo].[Salas] ([id_sala])
GO
ALTER TABLE [dbo].[Butacas] CHECK CONSTRAINT [fk_asiento_sala]
GO
ALTER TABLE [dbo].[Detalle_Tickets]  WITH CHECK ADD  CONSTRAINT [fk_butaca_detalle] FOREIGN KEY([id_butaca])
REFERENCES [dbo].[Butacas] ([id_butaca])
GO
ALTER TABLE [dbo].[Detalle_Tickets] CHECK CONSTRAINT [fk_butaca_detalle]
GO
ALTER TABLE [dbo].[Detalle_Tickets]  WITH CHECK ADD  CONSTRAINT [fk_funcion_detalle] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[Funciones] ([id_funcion])
GO
ALTER TABLE [dbo].[Detalle_Tickets] CHECK CONSTRAINT [fk_funcion_detalle]
GO
ALTER TABLE [dbo].[Detalle_Tickets]  WITH CHECK ADD  CONSTRAINT [fk_tickets] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[Tickets] ([id_ticket])
GO
ALTER TABLE [dbo].[Detalle_Tickets] CHECK CONSTRAINT [fk_tickets]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [fk_pelicula] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [fk_pelicula]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [fk_sala_funcion] FOREIGN KEY([id_sala])
REFERENCES [dbo].[Salas] ([id_sala])
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [fk_sala_funcion]
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_tipo_peliculas] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_peliculas] ([id_tipo])
GO
ALTER TABLE [dbo].[Peliculas] CHECK CONSTRAINT [fk_peliculas_tipo_peliculas]
GO
ALTER TABLE [dbo].[Salas]  WITH CHECK ADD  CONSTRAINT [fk_tipo_sala] FOREIGN KEY([id_tipo_sala])
REFERENCES [dbo].[Tipos_Salas] ([id_tipo_sala])
GO
ALTER TABLE [dbo].[Salas] CHECK CONSTRAINT [fk_tipo_sala]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [fk_tipo_pago] FOREIGN KEY([id_tipo_pago])
REFERENCES [dbo].[Tipos_pagos] ([id_tipo_pago])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [fk_tipo_pago]
GO
/****** Object:  StoredProcedure [dbo].[bajaTickets]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bajaTickets]
@idTicket int
as
update tickets
set activo = 0
where id_ticket = @idTicket
GO
/****** Object:  StoredProcedure [dbo].[consultarClientes]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[consultarClientes]
as
begin
	select id_cliente,dni_cliente,email,calle,altura,telefono,nom_cliente,ape_cliente,ape_cliente+', '+nom_cliente+' - '+dni_cliente 
	from Clientes
end
GO
/****** Object:  StoredProcedure [dbo].[consultarUsuarios]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[consultarUsuarios]
as
begin
select *
from Login
end
GO
/****** Object:  StoredProcedure [dbo].[funcRecaudacion]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[funcRecaudacion]
@anio int
as
select year(fecha_hora),sum(pre_unitario)
from funciones
where year(fecha_hora) = @anio
group by year(fecha_hora)
GO
/****** Object:  StoredProcedure [dbo].[insertarUsuarios]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertarUsuarios]
@usuario varchar(50),@contra varchar(50)
as
begin
insert into Login (usuario,contras) values (@usuario,@contra)
end
GO
/****** Object:  StoredProcedure [dbo].[pelisRecaudacion]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pelisRecaudacion]
@idpeli int
as
select titulo,sum(pre_unitario)
from Funciones f join Peliculas p on p.id_pelicula=f.id_pelicula
where p.id_pelicula = @idpeli
group by titulo
GO
/****** Object:  StoredProcedure [dbo].[proxTicket]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proxTicket]
@prox int output
as
begin
set @prox = (select max(id_ticket)+1 from Tickets);
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_CLIENTES]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BAJA_CLIENTES]
@idCliente int
as
begin
update clientes set activo=0 where id_cliente=@idCliente
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_FUNCION]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BAJA_FUNCION]	
@idFuncion int
as
begin
update Funciones set activo=0 where id_funcion=@idFuncion
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BUSCAR_CLIENTES]
@nombre varchar (50)
as
select nom_cliente,ape_cliente
from Clientes
where nom_cliente like ('%' +@nombre+ '%')
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES_APELLIDO]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BUSCAR_CLIENTES_APELLIDO]
@apellido varchar (50)
as
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from Clientes
where ape_cliente like ('%' +@apellido+ '%') and activo=1
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES_DNI]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BUSCAR_CLIENTES_DNI]
@dni bigint 
as
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from Clientes
where dni_cliente=@dni  and activo=1
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES_EMAIL]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------	
create proc [dbo].[SP_BUSCAR_CLIENTES_EMAIL]
@email varchar (100)
as
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from Clientes
where email like ('%' +@email+ '%')  and activo=1
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES_NOMBRE]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BUSCAR_CLIENTES_NOMBRE]
@nombre varchar (50)
as
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from Clientes
where nom_cliente like ('%' +@nombre+ '%') and activo=1
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTES_TELEFONO]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BUSCAR_CLIENTES_TELEFONO]
@telefono bigint 
as
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from Clientes
where telefono=@telefono  and activo=1
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTE]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_CLIENTE]
as
select * from clientes
where activo = 1
order by id_cliente desc
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES_ACTIVOS]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_CLIENTES_ACTIVOS]
AS
begin
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email
from clientes
where activo=1
order by id_cliente desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES_ACTIVOS2]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_CLIENTES_ACTIVOS2]
@param int = 0
AS
begin
select id_cliente,dni_cliente, nom_cliente, ape_cliente, email, ape_cliente+', '+nom_cliente+' - '+dni_cliente
from clientes
where activo=1
order by id_cliente desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_FUNCIONES]
as
begin 
select *
from funciones 
where fecha_hora>=getdate()
and activo = 1
order by id_funcion desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES_FILTRO]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_FUNCIONES_FILTRO]
@fecha date
  as
  begin
  select f.id_funcion,p.titulo+' - '+cast(format(fecha_hora,'dd/MM/yyyy') as varchar)+' - Sala '+cast(id_sala as varchar)
  from funciones f, peliculas p 
  where f.id_pelicula=p.id_pelicula and f.fecha_hora>=@fecha
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES2]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_FUNCIONES2]
  as
  begin
  select f.id_funcion,p.titulo+' - '+cast(format(fecha_hora,'dd/MM/yyyy') as varchar)+' - Sala '+cast(id_sala as varchar),pre_unitario
  from funciones f, peliculas p 
  where f.id_pelicula=p.id_pelicula and f.fecha_hora>=getdate()
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES3]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CONSULTAR_FUNCIONES3]
   AS
  BEGIN
	SELECT f.id_funcion,f.id_pelicula,fecha_hora,pre_unitario,id_sala,p.titulo + '-' + CAST(P.duracion AS VARCHAR) + '-'+ CAST(f.fecha_hora AS VARCHAR) as titulos from Funciones f join Peliculas p on p.id_pelicula = f.id_pelicula
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_PELICULA]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_PELICULA]
as
select * from Peliculas
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_PELICULAS]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_PELICULAS]
  as
  begin
  select id_pelicula, titulo
  from peliculas
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_TICKET]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CONSULTAR_TICKET]
AS
begin
SELECT * from Tickets
order by activo desc, fecha_compra desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_TIPO_PAGO]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_TIPO_PAGO]
as
select * from Tipos_pagos
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CLIENTE]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ELIMINAR_CLIENTE]
@id int
as
update clientes set activo = 0
where id_cliente = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_FUNCIONES]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ELIMINAR_FUNCIONES]
@id_funcion int
as
update Funciones set activo = 0
where id_funcion = @id_funcion
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABAR_CLIENTE]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GRABAR_CLIENTE] --usado en metodo GrabarCliente()
@nombre varchar(100),
@apellido varchar(100),
@calle varchar(50),
@altura int,
@telefono bigint,
@dni bigint,
@email varchar(100)
as
declare @activo bit = 1
begin
insert into clientes (dni_cliente,email,calle,altura,telefono,nom_cliente,ape_cliente,activo)
values (@dni,@email,@calle,@altura,@telefono,@nombre,@apellido,@activo)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABAR_FUNCION]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GRABAR_FUNCION]	--usado en método GrabarFuncion()
  @idPelicula int,
  @fecha datetime,
  @precio money,
  @idSala int
  as
  declare @activo bit = 1
  begin
  insert into Funciones (id_pelicula,fecha_hora,pre_unitario,id_sala,activo)
  values (@idPelicula,@fecha,@precio,@idSala,@activo)
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABAR_TICKET]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GRABAR_TICKET]
	@id_tipo_pago int,
	@id_cliente int,
	@fecha_compra datetime,
	@id_ticket int output
AS
BEGIN
	INSERT INTO Tickets (id_tipo_pago,id_cliente,fecha_compra,activo)
    VALUES (@id_tipo_pago,@id_cliente,@fecha_compra,1);
	set @id_ticket = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABAR_TICKET2]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GRABAR_TICKET2]
	@id_tipo_pago int,
	@id_cliente int,
	@fecha_compra datetime
AS
BEGIN
	INSERT INTO Tickets (id_tipo_pago,id_cliente,fecha_compra)
    VALUES (@id_tipo_pago,@id_cliente,@fecha_compra);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE_TICKET]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE_TICKET] 
	@descuento int,
    @id_ticket int, 
    @costo money,
    @id_butaca int,
    @id_funcion int
as
BEGIN
	set @costo = @costo - ((@costo * @descuento)*0.01)
    INSERT INTO Detalle_Tickets(descuento,id_ticket,costo,id_butaca,id_funcion)
    VALUES (@descuento,@id_ticket,@costo,@id_butaca,@id_funcion);

END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLES]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_INSERTAR_DETALLES]
	@descuento money,
	@id_ticket int,
	@costo money,
	@id_butaca int,
	@id_funcion int
AS
BEGIN
	INSERT INTO Detalle_Tickets(descuento,id_ticket,costo,id_butaca,id_funcion)
    VALUES (@descuento,@id_ticket,@costo,@id_butaca,@id_funcion);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PELICULA]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_UPDATE_PELICULA]	
 @idPelicula int,
 @titulo varchar(50),
 @duracion int,
 @id_tipo int
 as
 begin
 update Peliculas set titulo=@titulo, duracion=@duracion, id_tipo=@id_tipo
 where id_pelicula = @idPelicula
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_LOGIN]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_USUARIOS_LOGIN]
as
begin
select usuario,contras from Login
end
GO
/****** Object:  StoredProcedure [dbo].[spConsultarFuncionesParametro]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spConsultarFuncionesParametro]
as
begin
	SELECT id_funcion '#',titulo 'Pelicula',duracion 'Duracion',fecha_hora 'Fecha', pre_unitario 'Precio'
	FROM Funciones f join Peliculas p
	on f.id_pelicula=p.id_pelicula
	where fecha_hora > getdate()
end
GO
/****** Object:  StoredProcedure [dbo].[spConsultarTiposPagos]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spConsultarTiposPagos]
as
begin
select id_tipo_pago,nombre_tipo_pago from Tipos_pagos
end
GO
/****** Object:  StoredProcedure [dbo].[tiposPagoTickets]    Script Date: 15/11/22 23:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tiposPagoTickets]
@idTipoPago int
as
select tp.id_tipo_pago,nombre_tipo_pago,count(id_ticket)
from Tickets t join Tipos_pagos tp on tp.id_tipo_pago=t.id_tipo_pago
where tp.id_tipo_pago = @idTipoPago
group by tp.id_tipo_pago,nombre_tipo_pago
GO
